        

            .divi{
                position: absolute;
                width: 400px;   
                height:400px;  
                background-color:yellow;
                transform-origin: 0px 0px;
                transform: rotate(-45deg);
                margin-left: -300px;  
                margin-top: 330px;   
            }
            .divi:hover{
                position: absolute;
                width: 400px;   
                height:400px;  
                background-color:#1e0e28;
                opacity: 0.7;
                transform-origin: 0px 0px;
                transform: rotate(-45deg);
                margin-left: -300px;  
                margin-top: 330px;   
            }
        .div{   

                position: absolute;
                width: 400px;   
                height:400px;  
                background-color:yellow;
                transform-origin: 0px 0px;
                transform: rotate(-45deg);
                margin-left: 260px;  
                margin-top: -20px; 
        }
        .div:hover{   

                position: absolute;
                width: 400px;   
                height:400px;  
                background-color:#1e0e28;
                transform-origin: 0px 0px;
                transform: rotate(-45deg);
                margin-left: 260px;  
                margin-top: -20px; 
        }
        .div::before{
            content: "";
            width: 130px;   
            height: 130px;  
            background: #ecfcff;   
            opacity: 0.6;
            position: absolute;
            margin-top: 250px;
            margin-left: 100px;   
            transform-origin: 0px 0px;
            transform: rotate(90deg); 
            z-index: 2;
        }
         .div:hover::before{
            content: "";
            width: 130px;   
            height: 130px;  
            background: #000;   
            opacity: 0.6;
            position: absolute;
            margin-top: 250px;
            margin-left: 100px;   
            transform-origin: 0px 0px;
            transform: rotate(90deg); 
            z-index: 2;
        }

        body{
            background-color:   #8b3636;
            opacity: 0.8;
#base{
    position: relative;
}

