<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
		
		<div id="app">	
				
				<!-- 	<div class="item1" v-if="show1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit enim, numquam dolor perferendis ea, quibusdam consequatur iure nesciunt impedit doloribus corrupti harum fugiat, nulla. Vitae dolor, totam quae illum at.</div>
					<div class="item2" v-if="show2"></div>
					<div class="item3" v-if="show3"></div>
					<button class="style1" @click="Mshow">Show 1</button>
					<button class="style2" @click="Sshow" >Show 2</button>
					<button class="style3" @click="MSshow">Show 3</button>
				<div class="content"></div>
				<div class="box" v-if="box" @scoll="showBox"></div> -->
				<div class="Box grid">
					<div class="menu1" @click="Mshow"></div>
					<div class="menu2" @click="Sshow"></div>
					<div class="menu3" @click="MSshow"></div>
					<div class="content1"  v-if="show1"></div>
					<div class="content2"  v-if="show2"></div>
					<div class="content3"  v-if="show3"></div>
				</div>

		</div>
		

	<script src="vue.js"> </script>
	<script src="app.js"></script>

</body>
</html>